@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Slabo 27px', serif;
    scroll-behavior: smooth;
}
body{
    background-image: url(./assets/img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(29, 28, 28);
    border-radius: 7px;
}
main{
    padding: 140px;
}
h2{
    text-align: center;
    color: #e6d7ff;
    padding: 40px;
    font-size: 2.9rem;
}
.container-cal{
    display: flex;
    justify-content: center;
}

.calculator{
    background-color: rgb(50, 51, 53);
    background: linear-gradient(to right, #0e0c0cb5, #473c3dce);
    box-shadow: 0 0 10px #000000, 0 0 40px #675f5f, 0 0 80px #767070;
    border-radius: 5px;
    padding: 20px;
}
#screen{
    width: 100%;
    margin-bottom: 4px;
    pointer-events: none;
    text-align: end;
    padding: 12px;
    font-size: 1.7rem;
}
input{
    width: 100px;
    height: 60px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 7px;
}
input:hover{
    background-color: rgb(154, 154, 157);
    
}
.style-b{
    background-color: rgb(10, 10, 10);
    color: white;
}